@page
@model ChernabogApp.Pages.Guides.IndexModel
@{
    ViewData["Title"] = "Правила";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Книга заклинаний</h5>
    <p class="card-text">Сборник жреческих и колдовских заклинаний с сортировкой по уровням, типам, сферам и времени сотворения.</p>
    <a asp-page="/Guides/SpellsBook/Index" class="btn btn-primary">Читать</a>
  </div>
</div>