@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Вход при помощи кодов восстановления";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Вы запросили вход при помощи кодов восстановления. Этот вход сайт не запомнит до тех пор пока вы не
    предоставите код из приложения для аутентифицаии или не отключите двухфакторную аутентификацию и не
    зайдете снова.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.RecoveryCode" class="form-label">Код восстановления</label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}