@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
<p>
    Проверьте ваш почтовый ящик. Туда было направлено письмо для подтверждения аккаунта.
</p>
